version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: circleci/golang:1.8 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: git submodule sync
      - run: git submodule update --init
      - run: ls
      - run: docker build -t ds_platform_api:latest --build-arg ENVS="$(cat ./conf/main.yaml)" --build-arg PUB_KEY="$(cat ./conf/rs256-public.pem)" .
      - run: docker run --name ds_platform_api -d -p 8000:8000 ds_platform_api:latest